@charset "UTF-8"
* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
body {
background-image: linear-gradient(to right, #506266, #818274);
}
main {
    border-radius: 10px;
    box-shadow: 3px 3px 15px #91ad2cb2;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
     color: #BDE038;
     text-align: center;
     text-shadow: 1px 1px 2px #7f9825a6 ;
}
h2 {
    color: #A3AB78;
}