@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgray;
}
header{
    background-color: gray;
    
}
header > h1{
    padding: 10px;
    text-align: center;
}
menu{
    display: block;
}
menu > ul /*retirar as bolinhas da lista*/ {
    list-style-type: none;
}
menu > ul > li > a  /*ou simplesmente "menu a" */ { 
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(98, 97, 97, 0.784);
    color: white;
    border-top: 2px solid gray;

}
menu > ul > li > a:hover{
    background-color: rgba(116, 115, 115, 0.622);
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}
article > h2{
    padding-bottom: 20px;

}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}